@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=21fdc766-e32a-4db4-8248-8bb5cbff348e");

@font-face {
    font-family:"GeomSlab703-ExtraBold";src:url("../../../assets/fonts/2ac7d3b8-c869-4794-9f9d-c521404c73a9.eot?#iefix");src:url("../../../assets/fonts/2ac7d3b8-c869-4794-9f9d-c521404c73a9.eot?#iefix") format("eot"),url("../../../assets/fonts/545e7a8c-3454-4669-a2f0-633061b88af7.woff") format("woff"),url("../../../assets/fonts/2c90db7c-666e-4348-af7b-ea453c5eeb03.ttf") format("truetype"),url("../../../assets/fonts/57589e19-0f90-4725-8dee-3fef8f3003e1.svg#57589e19-0f90-4725-8dee-3fef8f3003e1") format("svg");
}

@font-face {
    font-family:"GeomSlab703-ExtraBoldItalic";src:url("../../../assets/fonts/963361fb-199f-4e2a-8877-d3ecf52530a6.eot?#iefix");src:url("../../../assets/fonts/963361fb-199f-4e2a-8877-d3ecf52530a6.eot?#iefix") format("eot"),url("../../../assets/fonts/69bf49a9-b221-43bc-9930-6100607b1c9f.woff") format("woff"),url("../../../assets/fonts/ba200264-6b3f-4e7b-b9e1-cf7275280831.ttf") format("truetype"),url("../../../assets/fonts/d66ee320-b77f-4535-ae98-4469981d6abf.svg#d66ee320-b77f-4535-ae98-4469981d6abf") format("svg");
}

@font-face {
    font-family:"GeomSlab703-ExtraBoldCondensed";src:url("../../../assets/fonts/10a54809-9bb7-4668-9080-030595bd3ba6.eot?#iefix");src:url("../../../assets/fonts/10a54809-9bb7-4668-9080-030595bd3ba6.eot?#iefix") format("eot"),url("../../../assets/fonts/8b52bae3-e14b-4e1e-9941-5de8ea013bb4.woff") format("woff"),url("../../../assets/fonts/5c4c754a-aac5-4451-b013-13f0a8dd7a49.ttf") format("truetype"),url("../../../assets/fonts/978e4988-09a5-4db8-bc9c-2da4a63a4a36.svg#978e4988-09a5-4db8-bc9c-2da4a63a4a36") format("svg");
}

@font-face {
    font-family:"GeomSlab703-Light";src:url("../../../assets/fonts/6930abf6-6941-4a77-937e-650d4903dcbf.eot?#iefix");src:url("../../../assets/fonts/6930abf6-6941-4a77-937e-650d4903dcbf.eot?#iefix") format("eot"),url("../../../assets/fonts/5956503a-9715-4858-a5cd-5754266f3d9f.woff") format("woff"),url("../../../assets/fonts/248bb583-a35e-495f-89b0-ce10ead1c214.ttf") format("truetype"),url("../../../assets/fonts/fa7ffc34-3a05-43fc-b5ea-fcb61b437e83.svg#fa7ffc34-3a05-43fc-b5ea-fcb61b437e83") format("svg");
}

@font-face {
    font-family:"GeomSlab703-LightItalic";src:url("../../../assets/fonts/ee1dfa32-cb4f-4764-9b49-5a904696eecb.eot?#iefix");src:url("../../../assets/fonts/ee1dfa32-cb4f-4764-9b49-5a904696eecb.eot?#iefix") format("eot"),url("../../../assets/fonts/f83ce10e-3eeb-4f58-a201-bb7b55d6a1ea.woff") format("woff"),url("../../../assets/fonts/dd3dc1a2-ee4a-4c32-ac13-7bd491d99f6c.ttf") format("truetype"),url("../../../assets/fonts/ce829a51-647b-4413-945b-92c1a22955c4.svg#ce829a51-647b-4413-945b-92c1a22955c4") format("svg");
}

@font-face {
    font-family:"GeomSlab703-MediumCondensed";src:url("../../../assets/fonts/ddacbc97-d93e-49ea-8fb3-4b53a192e0e9.eot?#iefix");src:url("../../../assets/fonts/ddacbc97-d93e-49ea-8fb3-4b53a192e0e9.eot?#iefix") format("eot"),url("../../../assets/fonts/260b05d3-7221-4f8c-98a5-800c9c6eac1c.woff") format("woff"),url("../../../assets/fonts/df8b814a-cf0f-4029-ab3c-e872e3480cf7.ttf") format("truetype"),url("../../../assets/fonts/919e085c-0c02-4b55-91c5-2ad5116cd049.svg#919e085c-0c02-4b55-91c5-2ad5116cd049") format("svg");
}

@font-face {
    font-family:"GeomSlab703-BoldCondensed";src:url("../../../assets/fonts/6601369f-3362-4255-9ad2-863b98230a09.eot?#iefix");src:url("../../../assets/fonts/6601369f-3362-4255-9ad2-863b98230a09.eot?#iefix") format("eot"),url("../../../assets/fonts/5ba9e8d9-8304-4db9-96a4-a1e2c50524a0.woff") format("woff"),url("../../../assets/fonts/51c66faa-92bb-4b28-981e-3511a9791d20.ttf") format("truetype"),url("../../../assets/fonts/49908bd3-bdda-4a2b-a51c-0d7f686b8d80.svg#49908bd3-bdda-4a2b-a51c-0d7f686b8d80") format("svg");
}

@font-face {
    font-family:"GeomSlab703-Medium";src:url("../../../assets/fonts/132742b1-82af-4b51-b10c-3a06062622b0.eot?#iefix");src:url("../../../assets/fonts/132742b1-82af-4b51-b10c-3a06062622b0.eot?#iefix") format("eot"),url("../../../assets/fonts/7b73fa27-9de1-4b58-85e6-c82d7ef4219e.woff") format("woff"),url("../../../assets/fonts/2e438059-1ff2-4063-be5c-68a9f94c9d1e.ttf") format("truetype"),url("../../../assets/fonts/cf501705-bd49-4d18-9d4c-305de4cfa07c.svg#cf501705-bd49-4d18-9d4c-305de4cfa07c") format("svg");
}

@font-face {
    font-family:"GeomSlab703-MediumItalic";src:url("../../../assets/fonts/34f7136b-5df1-47cf-b441-0d2c272ffd8a.eot?#iefix");src:url("../../../assets/fonts/34f7136b-5df1-47cf-b441-0d2c272ffd8a.eot?#iefix") format("eot"),url("../../../assets/fonts/0a083c5c-7b0e-4867-9efa-1000b608ad2a.woff") format("woff"),url("../../../assets/fonts/687d2c3f-c302-4a32-a81c-37bbfc136060.ttf") format("truetype"),url("../../../assets/fonts/a3988f6a-f447-4502-9a22-f0b3cd36ac11.svg#a3988f6a-f447-4502-9a22-f0b3cd36ac11") format("svg");
}

@font-face {
    font-family:"GeomSlab703-Bold";src:url("../../../assets/fonts/80892f3c-b98f-46aa-b241-6151c001b59d.eot?#iefix");src:url("../../../assets/fonts/80892f3c-b98f-46aa-b241-6151c001b59d.eot?#iefix") format("eot"),url("../../../assets/fonts/59343243-3b26-433a-bded-e9b4854cdf1a.woff") format("woff"),url("../../../assets/fonts/609508ca-0523-425d-ae66-6ab70a7cdafa.ttf") format("truetype"),url("../../../assets/fonts/f2abb55f-b97b-43a0-afd5-245339fb2ea5.svg#f2abb55f-b97b-43a0-afd5-245339fb2ea5") format("svg");
}

@font-face {
    font-family:"GeomSlab703-BoldItalic";src:url("../../../assets/fonts/4181573a-6fde-4cb1-a717-b692a1ec8541.eot?#iefix");src:url("../../../assets/fonts/4181573a-6fde-4cb1-a717-b692a1ec8541.eot?#iefix") format("eot"),url("../../../assets/fonts/2df6e735-a66f-49f7-92d6-ab8b3d7d8ddc.woff") format("woff"),url("../../../assets/fonts/b834b11d-0034-4e2c-9fca-8522ca06df84.ttf") format("truetype"),url("../../../assets/fonts/2a5edb80-4d93-40c3-91ea-47b1b3190422.svg#2a5edb80-4d93-40c3-91ea-47b1b3190422") format("svg");
}

@font-face {
    font-family:"AvenirLight";src:url("../../../assets/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix");src:url("../../../assets/fonts/3511a780-31ca-4ee1-9083-89b1b7185748.eot?#iefix") format("eot"),url("../../../assets/fonts/c4352a95-7a41-48c1-83ce-d8ffd2a3b118.woff") format("woff"),url("../../../assets/fonts/3e419b5b-c789-488d-84cf-a64009cc308e.ttf") format("truetype"),url("../../../assets/fonts/ca038835-1be3-4dc5-ba25-be1df6121499.svg#ca038835-1be3-4dc5-ba25-be1df6121499") format("svg");
}

@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'GeomSlab703-Light';
    /*background: #e5e5e5;*/
    /*background: #199BFF;*/
    background: #FFFFFF;
}

* {
    position: absolute;

    outline: none;
    border: none;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    /*border: 1px solid white;*/
    -webkit-transform-style: flat;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    -webkit-transform-style: flat;
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "social";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
/*div#Home *, div#Work *, div#Content *, div#Reels * {
  -webkit-backface-visibility: visible;
  text-rendering: optimizeLegibility;
}*/
/*div.WorkListItemText * {
  -webkit-backface-visibility: visible;
  text-rendering: optimizeLegibility;
}*/
.icon-instagram:before { content: '\e800'; } /* '' */
.icon-vimeo:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */

/*.AboutContentSection span {
    display: block;
    height: 12px;
    position: relative;
}

.WorkDetailInfo a, .LabDetailText a {
    position: relative;
    color: #fff;
    text-decoration: none;
}
*/
br {
    position: relative;
}

strong {
    font-weight: normal;
    font-family: 'AvenirLight';
}

a {
    color: #f4f4f4;
}

a:hover {
    text-decoration: underline;
}

/*span {
    position: relative;
    opacity: 0.4;
    font-family: 'OpenSansBold';
}*/

.AboutCultureContent .content *, .AboutCultureContent .content2 * {
    position: static;
}

.column1 *, .column2 *, .column3 * {
  position: static;
}
/*.column2 .list {
  font-family: 'AvenirLight';
}*/

.AboutCopy .text, .AboutCopy a {
    user-select: text !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
    -o-user-select: text !important;
    -ms-user-select: text !important;
}