# html5 pushstate (history) support:
<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # RewriteCond %{REQUEST_URI} !^/(cmsAdmin|sailfish/.*)$
    # RewriteCond %{REQUEST_URI} !^/(cmsAdmin|cmsAdmin/.*)$
    RewriteCond %{REQUEST_URI} !^(.*/)?api\.php$ [NC]
    RewriteCond %{REQUEST_URI} !index
    # RewriteRule (.*) index.php [L]
    # RewriteRule ^(cmsAdmin|sailfish)($|/) - [L]
    RewriteRule (.*)$ /index.php?q=$1 [QSA,L]
</ifModule>