@import "../../../bower_components/foundation/scss/foundation/components/global";
@import "../../../bower_components/foundation/scss/foundation/components/grid";
// @import "../../../bower_components/foundation/scss/foundation/settings";
@import "../../foundation/scss/foundation/components/general";
@import "fonts";

// Colors
$blue: #199BFF;
$ltgrey: #DDDDDD;
$mdgrey: #555555;
$dkgrey: #333333;
$white: #FFFFFF;
$black: #000000;

$top-bar-height: 60px;

// $base-font-size: 50%;

::selection {
  background: $ltgrey; /* Safari */
}
::-moz-selection {
  background: $ltgrey; /* Firefox */
}

h1 {
  font-family: $geo-ex-bold;
  text-transform: uppercase;
}
h2 {
  font-family: $geo-ex-bold;
  text-transform: uppercase;
}
h5 {
  color: $mdgrey;
  font-family: $ave-lt;
}
.header {
  h2 {
    // margin-bottom: -20px;
    a {
      color: $dkgrey;
      &:hover {
        color: $dkgrey;
      }
    }
  }
}
.off-canvas-wrap, .inner-wrap {
  min-height: 100%;
  // background-color: red;
}

.off-canvas-wrap{  
  height: 100%;
  overflow-y: auto;
  .inner-wrap {
    .left-off-canvas-menu {
      //padding-top: 1600px;
    }
  }
  .off-canvas-content {
    

  }
}
.utility {
  .button {
    margin-top: rem-calc(5);
    margin-left: rem-calc(5);
  }
}
//======================================
// BIG VIDEO BACKGROUND
//======================================
.video-bg {

  overflow: hidden;
  background-color: $white;
  // width:110%;
  // z-index: 1;
  @media #{$small-only} {
    display: none;
  }
}
#big-video-wrap {
  // offset this div to solve the jump from sticky nav
  // margin-top: -1*($topbar-height);
  
  // height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  color: $black;
  
  #big-video-vid {
    background-color: $white;
    min-width: 110%;
    min-height: 720px;
    .vjs-control-bar {
      display: none;
    }
    object, embed, img {
      background-color: $white;
    }
  }
  // margin-top: 45px;
}
.first {
  z-index: 0;
  // z-index: -1;
  // border: 1px solid green;
  // height
  // min-height: 100%;

  .large-5 {
    // min-height: 100%;
    // border: 1px solid red;
    .box {
      //@include transparent-gradient-fadeout($black, .7, 50%, $black, 0, 100%);
      //@include transparent-gradient-fadeinout($black, 0, 45%,   $black, .7, 60%,   $black, .7, 68%,   $black, .7, 75%,   $black, 0, 90%);
      // position: absolute;
      // background-color: $blue;
      margin-top: 200px;
      // padding: 20px;
      // margin-bottom: 100px;
      // position: fixed;
      // bottom: 0;
      z-index: 99;
      margin-right: 0;

      @media #{$small-only} {
        // padding: 50% 20px 10% 20px;
        margin-top: 80px;
      }
    }
    h1 {
      // color: $blue;
      color: $white;
      background-color: $blue;
      // margin-top: 200px;
      padding: 3px 0;
      // display: inline-block;
      // font-size: 3.4rem;
      // font-size: rem-calc($rem-base + 38);
      // font-size: rem-calc($rem-base) + 2.375rem;
      font-size: rem-calc(48px);
      line-height: 110%;
      // font-size: 1em;
      //border: 1px solid red;
      text-shadow: 1px 1px 0px black;
      // margin: 0;
      // padding: 0;
      // margin-bottom: 0.275em;
      // line-height: 
      display: inline;
      background: $blue;
      box-shadow: 15px 0 0 $blue, -15px 0 0 $blue;
      @media #{$medium-only} {
        margin: 0;
        padding: 0;
        display: block;
        padding: 12px 15px;
        line-height: 94%;
        box-shadow: 0 0 0 $blue, 0 0 0 $blue;
      }
      @media #{$small-only} {
        margin: 0;
        padding: 0;
        display: block;
        padding: 12px 15px;
        line-height: 94%;
        box-shadow: 0 0 0 $blue, 0 0 0 $blue;
      }
    } 
    h5 {
      color: $white;
      font-family: $ave-lt;
      font-size: 1.3rem;
      font-weight: normal;
      text-shadow: 1px 1px 0px black;
      margin: 0;
      padding: 0;
    }
  }
  .button {
    &.right {
      // border: 1px solid red;
      margin-top: 20px;
      width: 70%;
      font-size: 1.5rem;
    }
    @include button($bg:$blue);
    padding-top: 10px;
    padding-bottom: 15px;
    font-family: $geo-lt;
    // color: $white;
    @include single-transition(background-color, 300ms, ease-out);
    // @include single-transition(color, 300ms, ease-out);
    &:hover {
     background-color: $dkgrey;
     // color: $blue;
     @include single-transition(background-color, 300ms, ease-out);
     // @include single-transition(color, 300ms, ease-out);
    }
  }
}
//======================================
// HOME PAGE SPLASH
//======================================
.spacer {
  background-color: $white;
  height: $top-bar-height;
}
.orbit-container {
  ul {
    li {
      div {
        &:not(.orbit-caption) {
          position: absolute;
          top: 24%;
          left: 45%;
        }
        margin-right: 50px;

        h3 {
        
          //margin-right: 50px;
        }
        p {
          // position: absolute;
          // top: 36%;;
          // left: 45%;
          
        }
        .tiny.button {
          // position: absulute;
          // top: 
        }
      }
      
    }
  }
}
//======================================
// END > HOME PAGE SPLASH
//======================================


.about  {
  //z-index: 2;
  //top: -90px;
  //border: 1px solid blue;
  background-color: $white;

  h2, h3 {
    font-size: rem-calc(54px);
    // font-size: rem-calc($rem-base);
    // font-size: $rem-base);
    // margin-top: 0;
    // padding-top: 0;
  }
  h2 {
    color: $blue;
    margin: 0;

  }
  h3 {
    font-family: $geo-bold;
    color: $mdgrey;
  }
  h5 {
    font-size: 2.275rem;
            
  }
  .large-4 {
    // width: 30%;
    &.column, &.columns { 
      padding-right: 0;
      margin-right: 0;
    }

    h5 {
      padding-top: -0.8em;
      line-height: 1em;
    }
    .panel {
      // border: 1px solid red;
      padding-top: 20px;
      padding-right: 40px;
      padding-left: 30px;

      @media #{$medium-only} {
        padding-top: 10px;
        padding-right: 30px;
        padding-left: 20px;
      }
    }
  }
  .large-8 {
    // width: 70%;
    // margin-top: 54px;
    @media #{$medium-only} {
      // margin-top: 34px;
    }
    .medium-6 {
      &.believe {
        h5 {
          margin-bottom: 0.4rem;
          // float: left;
          // &:first-child {
          //   color: $blue;
          // }
          line-height: 2rem;
          color: $white;
          // background-color: $blue;
          // text-decoration: HIGHLIGHTED;
          em {
            background-color: $blue;
            font-style: normal;
            padding: 0px 3px;
            line-height: 1.2em;
          }
        }
      }
      &:first-child {
        padding-left: 10px;
        padding-right: 30px;
      }
      @media #{$medium-only} {
        &:first-child {
          padding-left: 0px;
        }
      }
      @media #{$medium-only} {
        &.believe {
          h5 {
            margin-bottom: 0.375rem;
          }

        }
      }
      //border: 1px solid red;
      .medium-7 {
        //border: 1px solid red;
        @media #{$medium-only} {
          padding-left: 0;
        }
        h5 {
          font-family: $geo-md;
          text-transform: uppercase;
          color: $blue;
          font-size: $rem-base + 12;
          
        }
        h6 {
          font-family: $ave-lt;
          font-size: $rem-base + 10;
          //border: 1px solid red;
          padding: 0;
          margin: 0;
        }

      }
      .detail {
        margin-top: 20px;
        // border: 1px solid green;
        @media #{$medium-only} {
          margin-top: 6px;
        }
        .qa {
          // margin-top: 20px;

          h5 {
            span {
              font-family: $geo-ex-bold;
              text-transform: uppercase;
              color: $blue;
              // font-size: $rem-base + 16;
              display: block;
              width: 95%;
              border-right: 2px solid $blue;
              padding-right: 20px;
            }
            @media #{$medium-only} {
              span {
 
                // font-size: $rem-base + 16;
                border-right: 0px;
                padding-right: 20px;
              }
            }
            @media #{$large-only} {
              span {
 
                // font-size: $rem-base + 16;
                border-right: 0px;
                padding-right: 20px;
              }
            }
            // width: 70%;
          }
          .medium-2 {
            h5 {
              margin-top:0;
            padding-top:0;
            }
            
          }
          .medium-10 {
            margin-top: 0;
            padding-top: 0;
            padding-right: 0;
            p {
              margin-top: 0;
              padding-top:0;
            }
            &.question {
              h6 {
                font-family: $ave-lt;
                font-size: $rem-base + 12;

              }
            }
          }
        }
      }
    }

    &.column, &.columns { 
      
      padding-left: 0;
      margin-left: 0;

      &:last-child {
        float: left;
      }
    }
    
    .panel {
      padding-left: 40px;
      padding-top: 28px;
      padding-right: 40px;
      @media #{$medium-only} {
        padding-top: 20px;
        padding-right: 30px;
        padding-left: 20px;
      }
    }
  }
  .panel {
    // INITIATE TRANSITION FOR MOUSE LEAVE
    //@include single-transition(background-color, 300ms, ease-out);
    background-color: $white;
    border: 0;
    padding: rem-calc(18) rem-calc(24);

    h3 {
      &.subheader {
        line-height: 1em;

      }
    }
    p {
      margin-top: rem-calc(10);
      margin-bottom: rem-calc(10);
      // border: 1px solid red;
      line-height: 1.4em;
    }
    .button {
      @include button($radius:false, $full-width:true, $disabled:false);
      margin-bottom: 0;
      padding: rem-calc(8);
    }
    //&:hover {
      //cursor: pointer;
      //background-color: $ltgrey;
      // -webkit-transition: background-color 300ms ease-out;
      // -moz-transition: background-color 300ms ease-out;
      // transition: background-color 300ms ease-out;
      // @include single-transition(background-color, 300ms, ease-out);
    //}
  }
}

//======================================
// HOME PAGE WORK
//======================================
.work  {
  background-color: $white;
  h2 {
    // font-family: $geo-bold;
    font-size: rem-calc($rem-base) + 2.375rem;
    color: $blue;
    margin-left: .2875em;
  }
  .medium-4 {}
  .panel {
    border: 0px solid $blue;
    // border-bottom: 0;
    // INITIATE TRANSITION FOR MOUSE LEAVE
    @include single-transition(border-bottom, 300ms, ease-out);
    background-color: $white;


    
    
    h4 {
      font-family: $geo-bold;
      font-size: rem-calc($rem-base) + .5rem;
      text-transform: uppercase;
      color: $blue;
    }
    h5 {
      font-family: $ave-lt;
      font-size: rem-calc($rem-base) + .7rem;
      color: $dkgrey;
    }

    p {
      margin-top: rem-calc(10);
      margin-bottom: rem-calc(10);
      line-height: 1.6rem;
      // font-size: 110%;
      // border: 1px solid pink;
    }
    .button {
      @include button($radius:false, $full-width:true, $disabled:false);
      margin-bottom: 0;
      padding: rem-calc(8);
    }
    &:hover, &.hover {
      cursor: pointer;
      // background-color: $blue;
      border-bottom: 15px solid $blue;
      h2, h3, h4, h5, h6, p {
        // color: $white;
        // @include single-transition(color, 300ms, ease-out);
      }
      
      // -webkit-transition: background-color 300ms ease-out;
      // -moz-transition: background-color 300ms ease-out;
      // transition: background-color 300ms ease-out;
      @include single-transition(border-bottom, 300ms, ease-out);
      
    }
  }
  &.portfolio {
    img {
      
      &:hover {
        -webkit-box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 50px 10px rgba(0,0,0,0.75);
      }
    }
    h2 {
      font-family: $geo-bold;
      font-size: rem-calc($rem-base) + 1rem;
      color: $dkgrey;
      margin-left: .3em;

    }
    .panel {
      // border: 1px solid red;
      
      h4 {
        font-family: $geo-bold;
        font-size: rem-calc($rem-base) + .25rem;
        text-transform: uppercase;
        color: $blue;
        line-height: 1.1rem;
      }
      h5 {
        font-family: $ave-lt;
        font-size: rem-calc($rem-base) + .25rem;
        color: $dkgrey;
        line-height: 1.2rem;
      }
      // background-color: $blue;
      &:hover, &.hover {
        h2, h3, h4, h5, h6, p {
          // color: $white;
          // @include single-transition(color, 300ms, ease-out);
        }
      }
    }
  }
}
// .off-canvas-content {
//   .large-10 {
//     width: 90%;
//   }
// }
//======================================
// END > HOME PAGE SERVICES
//======================================

.content {  
  margin-top: rem-calc(10);
  padding: 0 rem-calc(20);
  p {
    // font-size: 1.275rem;
    // font-size: rem-calc(20);
    font-size: rem-calc(20px);
  }

  .side-nav {
    li {
      label {
        text-transform: uppercase;
        font-size: .85rem;
        cursor: default;
        a {
          color: $dkgrey;
          &:hover {
            color: $primary-color;
          }
        }
      }
      &:first-child {
        label {
          font-size: 1em;
          text-transform: uppercase;
          a {
            color: $dkgrey;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
    li {
      a {
        &:hover, &.active {
          color: $dkgrey;
        }
      }
    }
  }
  p {

  }

  ul:not(.side-nav):not(.example-orbit) {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    //border: 1px solid blue;
    li {
      padding-left: 1em;
      text-indent: -1em;
      &:before {
        content: "»";
        padding-right: 5px;
      }
      a {
        &:hover, &.active {
          color: $dkgrey;
        }
      }
    }
  }
}
#contact, #flip_login {
  background-color: $white;
  h2 {
    // font-family: $geo-bold;
    font-size: rem-calc($rem-base) + 2.375rem;
    color: $blue;
    margin-left: .2875em;
  }
  input, textarea {
    background-color: $mdgrey;
    color: $white;
    font-family: $ave-lt;
  }
  textarea {
    height: 230px;
    font-size: 1rem;
  }

  p {
    @include clearfix;
  }

  .button.primary {
    float: right;
  }
}

.callout-2-up {
  .button {
    @include button($radius:false, $full-width:true, $disabled:false, $padding: $button-tny);
    padding-bottom: 10px;
    position: absolute;
    bottom: 10px;
    left: -50%;
    // margin: 0px 20px;
    width: 90%;
    margin-left: 55%;
    // padding: 2px -20px;
  }
  .panel {
    // INITIATE TRANSITION FOR MOUSE LEAVE
    @include single-transition(background-color, 300ms, ease-out);


    &:hover {
      cursor: pointer;
      background-color: $ltgrey;
      // -webkit-transition: background-color 300ms ease-out;
      // -moz-transition: background-color 300ms ease-out;
      // transition: background-color 300ms ease-out;
      @include single-transition(background-color, 300ms, ease-out);
    }
  }
}
.multi-box {
  hr {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px; 
  }
}

#flip_login {
  padding: rem-calc(20);

  .errors {
    margin-bottom: 1em;
    color: #cc0000;
  }
}

@media #{$medium-up}{
  #flip_login {
    width: 50%;
    margin: 5% auto 0 auto;
  }
}

//======================================
// FOOTER
//======================================
.footer { 
  p {
      font-size: $rem-base - 3;
      // border-bottom: 1px solid $secondary-color;
      // margin-left: 39px;
      // padding-bottom: 10px;
      // margin-bottom: 10px;
  }
  margin-bottom: 30px;
  //border: 1px solid blue;
  .row.collapse {
    // overflow: hidden;
    float: right;
    // border: 1px solid green;
    width: auto;
    // border: 1px solid red;
  }
  .medium-7 {
    ul {
      float: right;
      li {
        display: inline-block;

        &:before {
          content: "+";
          padding-left: 0;
        }
        &.divider {
          // display: block;

          &:before {
            content: ""; 
            padding: 0;
          }

        }
        
      }
    }
  }
  .medium-2 {
    padding: 0;
    margin: 0;
    // width: percentage(14.28/100);
    width: auto;
    // min-width: percentage(14.28/100); 
    &:first-child {
      padding: 0;
      margin: 0;
      // border: 1px solid red;
    }
    &:last-child {
      @include clearfix;
      float: left;
      // border: 1px solid red;
    }
    @media #{$large-only} {
      &:last-child {
        // padding-right: 0px;
        // margin-right: -40px;
      }
    }

    ul {
      font-size: $rem-base - 2;
      margin: 0;
      padding: 0;
      // padding-left: rem-calc(10);
      margin-left: 20px;
      // border: 1px solid yellow;
      // border: 1px solid blue;
      li {
        ul {
          li {
            label {
              margin: 0;
              padding: 0;
              a {
                color: $dkgrey;
                padding-top: 0.3em;
                padding-bottom: 0.3em;
                &:hover { 
                  color: $primary-color;
                }
                text-transform: uppercase;
                font-size: $rem-base - 5;
                // margin: 0;
                // padding: 0;
                //line-height: 1em;
              }
            }
          }
        }
        a {
          color: $dkgrey;
          &:hover {
            color: $primary-color;
          }
        }
        display: table;
        // width: auto;

        ul {
          // @include clearfix;
          margin: 0;
          padding: 0;
          // display: block;
          // width: auto;
          


          li {

            font-size: $rem-base - 4;
            padding-top: 0.2em;
            padding-bottom: 0.2em;

            a {

              @include clearfix;
              color: $primary-color;
              display: block;
              line-height: 1em;
              &:hover {
                color: $dkgrey;
              }
               
            }
          }
        }
      }
    }
  }
}
#video-holder {
  height: auto;
  width: 90%;
  position: absolute;
  top: 54%;
  left: 45%;
  margin-left: -45%;
  z-index: 1;

  .services-detail {
      margin-top: 30px;

      .flex-video {
        background-color: $black;
        // border: 1px solid red;
      }
      p {
        color: $dkgrey;
      }
      .medium-3 {
        margin: 0;
        padding: 0;
        // border-right: 1px solid #6D6D6D;
        &:last-child {
          float: left;
        }
      }
      .row {
        // padding-top: 0.625rem;
        // padding-bottom: 0.625rem;
        &.two {
          margin-top: 1.25rem;
        }
        
        .medium-8 {

          &.thumbs {
            margin-top: 0.625rem;
            // border: 1px solid red;
            .medium-3 {
              margin-top: 1.25rem;
              margin-bottom: 1.25rem;
              padding-left: 0.625rem;
              padding-right: 0.625rem;
              &:last-child {
                // padding-right: 0;
              }
            }
          }
        }
        
      }
      h2 {
        color: $blue;
        font-size: rem-calc($rem-base + 24);
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        line-height: 1;
        // &.subheader {
        //   font-family: ave-lt;
        //   font-size: rem-calc($rem-base + 10);
        //   font-color: $white;
        // }
      }
      h3 {
          // font-family: $ave-lt;
          font-family: $geo-bold;
          font-size: rem-calc($rem-base + 10);
          color: $blue;
          line-height: 1;

          // font-weight: bold;
          // margin-left: 8px;
      }
      hr {
        margin-top: 5px;
        margin-bottom: 8px;
        // margin-left: 10px;
        // margin-right: 10px;
        width: 100%;
        border-color: #6D6D6D;
      }
      ul {
        list-style: none;
        color: $white;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        // margin-left: 10px;

        h5 {
          font-family: $geo-md;
          letter-spacing: 1.5px; 
          font-size: rem-calc($rem-base + 2);
          text-transform: uppercase;
          color: #666;
          margin: 0;
          padding: 0;
          margin-bottom: 2px;
          // cursor: default;
        }
        li {
          // &:before {
          //   content: "»"; 
          //   padding-right:7px;
          // }
          color: #666;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;
          font-size: rem-calc($rem-base - 2);

          &:before {
            content: "»"; 
            padding-right: 7px;
          }

        }
      }
  }
}
//======================================
// FOOTER FOR SMALL DEVICES
//======================================
@media #{$small-only-footer} {

  .footer {
    margin-bottom: 0px;
    p {
      font-size: $rem-base - 3;
      margin: 0;
      padding: 0;
      padding-left: rem-calc(5);
    }
    .row.collapse {
      width: 100%;
      float: left;
    }
    // width: 100%;
    .column.collapse, .columns.collapse {
      width: 100%;
      // border: 1px solid red;
    }
    // float: left;
    .medium-2 {
      display: none;
      padding: rem-calc(10);
      padding-right: 0;

      width: 100%;
      border-top: 1px solid $ltgrey;
      padding-top: 0.3em;
      padding-bottom: 0.3em;

      ul {
        margin-left: 0px;
        padding-left: rem-calc(10);
        
        li {
          ul {
            li {
              
            }
          }
        }
      }

      &:last-child {
        padding-right: 0px;
      }
    }
  }
}

//======================================
// END FOOTER
//======================================


//======================================
// FONT BREAKPOINTS
//======================================

@media #{$large-only} {
  // MAKE THE TEXT FIT AT DIFFERENT SCREEN SIZES
  // IT CURRENTLY DOESN'T FIT, BUT JUST TO IDENTIFY THE RIGHT
  // TEXT FIELDS, THEY ARE HIGHLIGHTED WITH DIFFERENT COLORS
  .first .medium-6, .about, .work, #contact {

    // line-height: 1.2rem;

    h1, h2, h2.subheader {
      font-size: 280%;
      // line-height: rem-calc(50px);
    }
    h3, h4, h3.subheader, h4.subheader {
      font-size: 250%;
    }
    h5 {
      font-size: 120%;
    }
    &#about {
      // border: 1px solid blue;
     
      .panel {
        p {
          line-height: 1.4rem;
        }
        .believe {
          //border: 1px solid red;
          h3.subheader {
            font-size: 250%;
          }
          h5 {
            font-size: 150%;
          }
        }
        .team {

          h6 {
            font-size: 130%;
          }
          .question {
            h6 {
              font-size: 150%;
              // border: 1px solid blue;
            }
          }

        }
        h3, h4, h3.subheader, h4.subheader {
          font-size: 250%;
        }
        h5 {
          font-size: 120%;
        }
        h5.subheader {
          font-size: 180%;
          // border: 1px solid blue;
        }
        .qa {
          h5 {
            font-size: 250%;
          }
        }
      }
      
    }
    &#work {
      // border: 1px solid blue;
      .panel {
        h3, h4, h3.subheader, h4.subheader {
          // color: red;
          font-size: 110%;
        }
        h5, h5.subheader {
          // color: yellow;
          font-size: 100%;
        }
      }
    }
    // FOR WORK 4-UP CONTAINER
    &#portfolio {
      // border: 1px solid red;
      .panel {
        h3, h4, h3.subheader, h4.subheader {
          // color: red;
          font-size: 100%;
        }
        h5, h5.subheader {
          // color: yellow;
          font-size: 100%;
        }
      }
    }
    

    p {
      font-size: 100%;
    }
  }
}
@media #{$medium-only} {
  // MAKE THE TEXT FIT AT DIFFERENT SCREEN SIZES
  // IT CURRENTLY DOESN'T FIT, BUT JUST TO IDENTIFY THE RIGHT
  // TEXT FIELDS, THEY ARE HIGHLIGHTED WITH DIFFERENT COLORS
  .first .medium-6, .about, .work, #contact {

    // ONLY IN MAIN TEXT AREA

    h1,h2, h2.subheader {
      font-size: 180%;
      // line-height: rem-calc(36px);
    }
    h3, h4, h3.subheader, h4.subheader {
      font-size: 130%;
    }
    h5 {
      font-size: 100%;
    }

    &#about {
      // border: 1px solid yellow;
     
      .panel {
        
        p {
          // line-height: 1.4rem;
        }
        .believe {
          //border: 1px solid red;
          h3.subheader {
            font-size: 170%;
          }
          h5 {
            font-size: 120%;
          }
        }
        .team {
          h3.subheader {
            font-size: 160%;
          }
          h6 {
            font-size: 100%;
          }
          .question {
            h6 {
              font-size: 110%;
              // border: 1px solid yellow;
            }
          }

        }
        h3, h4, h3.subheader, h4.subheader {
          font-size: 150%;
        }
        h5 {
          font-size: 100%;
        }
        h5.subheader {
          font-size: 125%;
          // border: 1px solid blue;
        }
        .qa {
          h5 {
            font-size: 190%;
          }
        }
      }
    }
    &#work {
      // border: 1px solid blue;
      .panel {
        padding: rem-calc(12px);

        h3, h4, h3.subheader, h4.subheader {
          // color: red;
          font-size: 110%;
        }
        h5 {
          font-size: 110%;
        }
        h5.subheader {
          // color: yellow;
          font-size: 100%;
        }
        p {
          font-size: 92%;
          line-height: 1.4em;
          // border: 1px solid red;
        }
      }
    }
    // FOR WORK 4-UP CONTAINER
    &#portfolio {
      // border: 1px solid red;
      h2 {
        //border: 1px solid red;
        font-size: 130%;
      }
      .panel {
        padding: rem-calc(8px);

        h3, h4, h3.subheader, h4.subheader {
          // color: red;
          font-size: 100%;
          margin-bottom: 0.325rem
        }
        h5, h5.subheader {
          // color: yellow;
          font-size: 80%;
          line-height: 1.2em;
        }
      }
    }
    p {
      font-size: 84%;
      line-height: 1.3em;
      // border: 1px solid blue;
    }
  }
}
@media #{$small-only} {
  .first .medium-6, .about, .work, #contact {

    // ONLY IN MAIN TEXT AREA

    h1 {
      font-size: 140%;
      // line-height: rem-calc(36px);
    }
  }
}

// .reveal-modal {
//   @include reveal-modal-style(
//     // Sets background color of reveal modal. Default: $reveal-modal-bg or $white
//     $bg:$reveal-modal-bg,
//     // Set reveal border style. Default: $reveal-border-style or solid
//     $border:true,
//     // Width of border (i.e. 1px). Default: $reveal-border-width.
//     $border-style:$reveal-border-style,
//     // Color of border. Default: $reveal-border-color.
//     $border-width:$reveal-border-width,
//     // Color of border. Default: $reveal-border-color.
//     $border-color:$reveal-border-color,
//     // Choose whether or not to include the default box-shadow. Default: true, Options: false
//     $box-shadow:true,
//     // Default: $reveal-position-top or 50px
//     $top-offset:$reveal-position-top
//   );
// }