@import "../../../bower_components/foundation/scss/foundation/components/global";
@import "../../../bower_components/foundation/scss/foundation/components/grid";
// @import "../../../bower_components/foundation/scss/foundation/settings";
@import "../../foundation/scss/foundation/components/general";
@import "fonts";

@media #{$medium-only} {
  html, body {
    font-size: 90%;
  }
}
@media #{$small-only} {
  html, body {
    font-size: 75%;
    // border: 1px solid blue;
  }
}

#proposal {
  // border: 1px solid red;
  
  #summary {
      // border: 1px solid red;
      .large-8 {
        .graphics {
          margin-top: 20px;
          .large-12 {
            p {
              font-size: rem-calc(12px);
              color: #666;
              text-transform: uppercase;
            }
          }
        }
      }
      .large-4 {
      // width: 70%;
      margin-top: 16px;
      @media #{$medium-only} {
        // margin-top: 34px;
      }
    // .medium-6 {
      // &.believe {
        h5 {
          margin-bottom: 0.4rem;
          // float: left;
          // &:first-child {
          //   color: #199BFF;
          // }
          line-height: 2rem;
          color: #FFF;
          // background-color: #199BFF;
          // text-decoration: HIGHLIGHTED;
          em {
            background-color: #199BFF;
            font-style: normal;
            padding: 0px 3px;
            line-height: 1.2em;
          }
        }
      // }
    }
  }
  #recommendation {
    // border: 1px solid blue;
    padding-left: 30px;
    @media #{$medium-only} {
      padding-left: 15px;
    }
    .large-9 {
      h2 {
        margin-left: 0;
      }
      // border: 1px solid yellow;
      // .column, .columns {
      // float: left;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      // position: relative;
      // }
    }
    .panel {
        padding-left: 0;
        cursor: default;
        // padding-bottom: 20px;
        h3 {
          line-height: rem-calc(18px);
          font-family: $ave-lt;
          font-size: rem-calc(24px);
          text-transform: uppercase;
        }
        h4 {
          text-transform: none;
          font-size: rem-calc(28px);
        }
        h5 {
          color: #199BFF;
          font-size: rem-calc(22px);
          text-transform: uppercase;
          // line-height: rem-calc(20px);
          margin-top: rem-calc(8px);
          margin-bottom: rem-calc(4px);
        }
        li:before {
          color: #199BFF;
        }
      }
  }
  #cost {
    .row {
      // border: 1px solid red;
      padding: 0 30px;
      h2 {
        margin-left: 0;
      }
    }
    .large-12 {
      h3 {
        font-family: $geo-bold;
        font-size: rem-calc(28px);
        text-transform: uppercase;
        color: #666;
      }
      margin-bottom: 0;
    }
    .large-3 {
      margin-top: rem-calc(66px);
      h2 {
        font-size: rem-calc(32px);
      }
    }
    .medium-3 {
      .panel {
        h4 {
          &.subheader {
            text-transform: none;
          }
        }
        h5 {
          &.subheader {
            font-size: rem-calc(20px);
          }
        }
        cursor: default;

        ul {
          // border: 1px solid red;
          list-style-type: none;
          padding: 0px;
          margin: 0px;
          li {
            margin-left: rem-calc(-4px);
            &:before {
            // before: content('');
              content: "";

            }
          }
        }
        padding-left: 0;
      }
    }
  }
  #legal {
    & > .row {
      padding: 0 30px;
    }
    h2 {
      font-size: rem-calc(28px);
      color: #199BFF;
    }
    h3 {
      font-family: $geo-bold;
      font-size: rem-calc(18px);
      color: #666;
    }
    p {
      font-size: rem-calc(12px);
    }
  }
  
}